IKP_app/**/migrations/*.py
IKP_app/media/examinations/*
IKP_app/media/unaccepted_examinations/*
IKP_app/media/referrals/*
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal