{% extends "website-base.html" %}
{% block content %}

<div class="row">
    <div class="col-0 col-lg-3"></div>
    <div class="col-12 col-lg-6">
        <form class="form-horizontal" action="add-examination-process" method="post" enctype="multipart/form-data">{% csrf_token %}

            <div class="form-group">
                <label for="description">Krótki opis</label>
                <input class="form-control" id="description" type="text" name="description">
                <small id="emailHelp" class="form-text text-muted">Na przykład: EKG serca, opis badania</small>
            </div>

            <div class="form-group">
                <label for="file">Plik</label>
                <input class="form-control" id="file" type="file" name="file">
            </div>

            <div class="form-group">
                </br>
                <input class="form-control" type="submit">
                </br>
                <a href="/patient/examination" class="btn btn-primary" style="width: 100%;">Wróć</a>
            </div>
        </form>
    </div>

</div>


{% endblock %}

patient_pesel = models.ForeignKey('Patient', models.DO_NOTHING, db_column='patient_pesel')
    document_scan = models.TextField()
    document_type = models.TextField()
    uploaded_at = models.DateTimeField()
    uploaded_by = models.ForeignKey(AuthUser, models.DO_NOTHING, db_column='uploaded_by')
    accepted_at = models.DateTimeField(blank=True, null=True)
    accepted_by = models.ForeignKey('HospitalStaff', models.DO_NOTHING, db_column='accepted_by',blank=True, null=True)
    description = models.TextField()