{% extends "website-base.html" %}
{% block content %}
    <a class="btn btn-primary" href="add-appointment" role="button">Umów wizytę</a>
    <br>
    Appointments:
    <table class="table">
        <tr>
            <th>id</th>
            <th>data wizyty</th>
            <th>typ wizyty</th>
            <th>oddział</th>
            <th>pokój</th>
            <th>lekarz</th>
        </tr>
            {% for i in appointments %}
        <tr><th>{{ i.id}}</th><th>{{ i.appointment_date}}</th><th>{{i.appointment_type.appointment_type}}</th><th>{{ i.department.department}}</th>
                <th>{{ i.room.id}}</th><th>{{ i.doctor.id}}</th></tr>
            {% endfor %}
    </table>
{% endblock %}