{% extends "website-base.html" %}
{% block content %}

    <a class="btn btn-primary" href="add-examination" role="button">Dodaj badanie</a>
    </br>
    Examinations:
    <table class="table">
        <tr>
            <th scope="col"></th>
            <th scope="col">Opis</th>
            <th scope="col">document type</th>
            <th scope="col">uploaded at</th>
            <th scope="col">uploaded by</th>
            <th scope="col">accepted at</th>
            <th scope="col">accepted by</th>
        </tr>
            {% for i in exams %}
            <tr>
                <td>
                    <form action="examination" method="post">{% csrf_token %}
                        <input type="submit" value="Przejdź do badania">
                        <input type="hidden" name="examination_id" value="{{ i.id}}">
                    </form>

                <td>{{ i.description}}</td>
                <td>{{ i.document_type}}</td>
                <td>{{ i.uploaded_at}}</td>
                <td>{{ i.uploaded_by.id}}</td>
                <td>{{ i.accepted_at}}</td>
                <td>{{ i.accepted_by.id}}</td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}