{% extends "website-base.html" %}
{% block content %}

<div class="row">

    <table id="examinations_table" class="table">
        <thead>
            <tr>
                <th class="th-sm sorting_asc" scope="col">  </th>
                <th scope="col">Opis<i class="fa fa-fw fa-sort"></i></th>
                <th scope="col">Dodane<i class="fa fa-fw fa-sort"></i></th>
            </tr>
        </thead>
        {% for i in exams %}

        {% if i.accepted %}

            <tr>
                <td style="text-align: center;">
                    <form action="analyze_examinations" method="post">{% csrf_token %}
                        <input type="submit" value="Przejdź do badania">
                        <input type="hidden" name="examination_id" value="{{ i.id}}">
                    </form>
                </td>
                <td>{{ i.description}}</td>
                <td>{{ i.uploaded_at}}</td>
            </tr>
        {% else %}
            <tr>
                <td style="text-align: center;">
                    <form action="analyze_examinations" method="post">{% csrf_token %}
                        <input type="submit" value="Przejdź do badania">
                        <input type="hidden" name="examination_id" value="{{ i.id}}">
                    </form>
                </td>

                <td>{{ i.description}}</td>
                <td>{{ i.uploaded_at}}</td>


            </tr>
        {% endif %}

        {% endfor %}
    </table>
</div>
<script>
      $(document).ready(
      function ()
          {
            $('#examinations_table').DataTable({
                "language" :
                    {
                        "sProcessing":   "Przetwarzanie...",
                        "sLengthMenu":   "Pokaż _MENU_ pozycji",
                        "sZeroRecords":  "Nie znaleziono pasujących pozycji",
                        "sInfoThousands":  " ",
                        "sInfo":         "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                        "sInfoEmpty":    "Pozycji 0 z 0 dostępnych",
                        "sInfoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Szukaj:",
                        "sUrl":          "",
                        "oPaginate": {
                            "sFirst":    "Pierwsza",
                            "sPrevious": "Poprzednia",
                            "sNext":     "Następna",
                            "sLast":     "Ostatnia"
                        },
                        "sEmptyTable":     "Brak danych",
                        "sLoadingRecords": "Wczytywanie...",
                        "oAria": {
                            "sSortAscending":  ": aktywuj, by posortować kolumnę rosnąco",
                            "sSortDescending": ": aktywuj, by posortować kolumnę malejąco"
                                  }
                    }
            });

          }
      );
</script>
{% endblock %}