{% extends "website-base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="pl">
    Examinations:
    <table border="1">
        <tr>
            <th>id</th>
            <th>patient pesel</th>
            <th>document url</th>
            <th>document type</th>
            <th>uploaded at</th>
            <th>uploaded by</th>
            <th>accepted at</th>
            <th>accepted by</th>
        </tr>
            {% for i in exams %}
            <tr><th>{{ i.id}}</th><th>{{ i.patient_pesel.pesel}}</th><th>{{ i.document_url}}</th><th>{{ i.document_type}}</th>
                <th>{{ i.uploaded_at}}</th><th>{{ i.uploaded_by.id}}</th><th>{{ i.accepted_at}}</th><th>{{ i.accepted_by.id}}</th></tr>
            {% endfor %}
    </table>
</html>
{% endblock %}