{% block navbar %}
<!-- NAVBAR -->
<div class="row">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Menu główne</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a id="navbar_main_page" class="nav-link" href="/">Strona główna</a>
						</li>
						<li class="nav-item">
							<a id="navbar_appointments" class="nav-link" href="/patient/appointments" >Wizyty</a>
						</li>

						<li class="nav-item">
							<a id="navbar_examinations" class="nav-link" href="/patient/examinations">Badania</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Znajdź</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Zadaj pytanie</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Moje wyniki</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Informacje o procedurach</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Zalecenia z wizyt</a>
						</li>


						<!--
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/">Strona główna</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#" >Umów się</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Dowiedz się</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Znajdź</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Zadaj pytanie</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Moje wyniki</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Informacje o procedurach</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">Zalecenia z wizyt</a>
						</li>
						-->

						<!--
							-umów się
							-dowiedz się
							-znajdź
								-mapa szpitala, gdzie jaka pracownia
							-zadaj pytanie
							-moje wyniki
								-przeglądam
								-dodaje
							-informacja o procedurach
							-moje zalecenia z wizyt
						-->
					</ul>
				</div>
			</div>
		</nav>
	</div>
{% endblock %}