{% block navbar %}
<!-- NAVBAR -->
<div class="row">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Menu główne</a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/staff">Strona główna</a>
						</li>
                        {% if role == 'Lekarz' %}
                            <li class="nav-item">
                                <a class="nav-link" href="/staff/physician/appointments" >Wizyty</a>
                            </li>
                        {% elif role == 'Rejestrator' %}
                            <li class="nav-item">
                                <a class="nav-link" href="/staff/registration/appointments" >Wizyty</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/staff/registration/examinations">Badania</a>
                            </li>
                        {% elif role == 'Administrator' %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" >Wizyty</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#">Badania</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pacjenci</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Personel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Oddziały</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Kampanie</a>
                            </li>
                        {% endif %}

					</ul>
				</div>
			</div>
		</nav>
	</div>
{% endblock %}