{% extends "website-base.html" %}
{% block content %}
<h2>Pacjent</h2>
<br/>
<div class="row">
    <h3>Podstawowe informacje</h3>
    <table id="appointments_table" class="table">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Płeć</th>
                <th>Data urodzenia</th>
                <th>Nr telefonu</th>
                <th>Adres email</th>
            </tr>
        </thead>

        <tr>
            <td>{{ first_name }}</td>
            <td>{{ last_name }}</td>
            {% if patient.gender.gender == 'M' %}
            <td>Mężczyzna</td>
            {% else %}
            <td>Kobieta</td>
            {% endif %}
            <td>{{ patient.birthdate|date:"d.m.Y"}}</td>
            <td>{{ patient.phone_number }}</td>
            <td>{{ email }}</td>
        </tr>
    </table>
</div>

<div class="row">
    <h3>Wyniki badań pacjenta</h3>
    <form action="add-examination" method="post">{% csrf_token %}
            <input type="hidden" name="patient_pesel" value="{{ patient.pesel }}">
            <input type="submit" value="Dodaj badanie">
    </form>
    <table class="table">
        <tr>
            <th scope="col"></th>
            <th scope="col">Opis</th>
            <th scope="col">Dodane</th>
            <th scope="col">Dodane przez</th>
            <th scope="col">Zaakceptowane</th>
        </tr>
        {% for i in exams %}
            <tr>
                <td style="text-align: center;">
                    <form action="examination" method="post">{% csrf_token %}
                        <input type="submit" value="Przejdź do badania">
                        <input type="hidden" name="examination_id" value="{{ i.id}}">
                    </form>

                    <td>{{ i.description}}</td>
                    <td>{{ i.uploaded_at}}</td>
                    <td>{{ i.uploaded_by.first_name}} {{ i.uploaded_by.last_name}}</td>
                    <td>{{ i.accepted_at}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}