{% extends "website-base.html" %}
{% block content %}
<!-- TODO: próba wysyłania PDFa tylko, jeśli examination nie jest null + odpowiednie info -->

<a href="/patient/examinations" class="center-block">
					<button type="button" class="btn btn-primary btn-lg btn-block col-sm-12 col-md-8 col-lg-6" style=" margin: auto; margin-top: 10px; display: block;">Powrót</button>
</a>
<table class="table">
    <tr>
        <th scope="col">Opis</th>
        <th scope="col">Typ dokumentu</th>
        <th scope="col">Załączony</th>
        <th scope="col">Odrzucony</th>
        <th scope="col">Powód odrzucenia</th>
    </tr>
    <tr>
        <td>{{ exam.description}}</td>
        <td>{{ exam.document_type}}</td>
        <td>{{ exam.uploaded_at}}</td>
        <td>{{ exam.rejected_at}}</td>
        <td>{{ exam.rejected_for}}</td>
    </tr>
</table>
    <iframe
    src="{{ file_path }}"
    frameBorder="0"
    scrolling="auto"
    height="800"
    width="100%"
    ></iframe>

<label for="description">Opis dokumentu</label>
<div id="description">

</div>
{% endblock %}

